.navbar{
  background-color: #00BCD4;
	box-shadow:0px 2px 3px rgba(0,0,0,.5);
}

.navbar-logo{
	width:auto;
	height: 30px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}